/*Basic CSS Reset from Digital Ocena*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*START OF MY CSS*/
/*Colors: 
  Primary: #f44336; Red
  Secondary: #42a5f5; Light Blue
*/
/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Navigation*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f44336;
}

.nav-item {
  margin: 12px;
} 

#menu-icon {
  font-size: 28px;
}

#menu-icon:hover {
  cursor: pointer;
}

.hideMenu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);
}

.showMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  background-color: #42a5f5;
  box-shadow: 2px 0px 8px #000;
}

/*Pomodoro Component*/
.pomodoro { /*Main Card Pomo Screen*/
  width: 80%;
  
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.row { /*All Rows in Pomodoro Card*/
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.timer-row {
  height: 50vh;
}

.row > * { /* Give each row item a little room */
  padding: 16px;
  /*background-color: #42a5f5;*/
}

.break-tab-row > p {
  width: 33.333%;
  text-align: center;
  border: 1px solid lightgrey;
}

.start-stop-row > p {
  width: 25%;
  text-align: center;
  border: 1px solid lightgrey;
}

.break-tab-row>p:hover {
  cursor: pointer;
  background-color: #42a5f5;
}

.start-stop-row>p:hover {
  cursor: pointer;
  background-color: #42a5f5;
}

.active {
  background-color: #42a5f5;
}